* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: white;
    color: black;
}

h1 {
    text-align: center;
}

#subtitle {
    text-align: center;
    color: grey;
}

img {
    display: block;
    margin: auto;
}

#image {
    max-width: 100%; 
    text-align: center;
}

#img-caption {
    text-align: center;
    margin-bottom: 70px;
    color: grey;
}

#tribute-info {
    margin: auto;
}

#intro {
    width: 600px;
    margin: 20px auto 70px auto;
}

ul {
    line-height: 1.6;
    margin: 0 auto 50px auto;
}

li {
    margin: 16px 0;
    display: list-item;
    
}

#footer {
    text-align: center;
    color: gray;
}