* {
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
}

body {
    background-color: rgb(250, 219, 224);
    color: black;
}

h1 {
    text-align: center;
}

#subtitle {
    text-align: center;
    color: grey;
}

img {
    display: block;
    margin: auto;
}

#img-div {
    background-color: white;
    margin: 20px 300px;
    padding-top: 15px;
    padding-bottom: 5px;
    border-radius: 25px;
}

#image {
    max-width: 100%; 
    text-align: center;
}

#img-caption {
    text-align: center;
    margin-bottom: 70px;
    color: grey;
}

#tribute-info {
    margin: auto;
}

#intro {
    width: 600px;
    margin: 20px auto 70px auto;
}

#films {
    text-align: center;
}

ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
  }
  
  li {
    margin: 16px 0;
  }

#footer {
    text-align: center;
    color: gray;
}